<%= render "shared/header" %>
<div class='item-all'>
 <h2 class='title'>物件一覧</h2>
 <div class="search">
      <%= form_with(url: search_posts_path, local: true, method: :get, class: "search-form") do |form| %>
        <%= form.text_field :keyword, placeholder: "最寄り駅で検索する", class: "search-input" %>
        <%= form.submit "検索", class: "search-btn" %>
      <% end %>
 </div>
 <div class='item-contents'>
 <ul class='item-lists'>
 <% @posts.each do |post| %>
      <li class='list'>
        <%= link_to post_path(post.id) do %>
        <div class='item-img-content'>
          <%= image_tag post.image, class: "item-img" %>
        </div>
        <div class='item-info'>
          <h3 class='item-name'>
            <%= post.title %>
          </h3>
          <div class='item-price'>
            <span>家賃<%= post.price %>円<br><%= post.station %>
            <% @owner.find do |owner| %>
            <br>投稿者<%= owner.name %>
            <% end %>
            </span>
          </div>
        </div>
        <% end %>
      </li>
 <% end %>
 </ul>
 </div>
 </div>

<div class='snap'>
<!--Userでログインしてたら-->
<% if user_signed_in? %>
  <h2 class='sub-title'>チャット画面</h2>
  <h2 class='sard-title'>ログインしているオーナー一覧</h2>
  <br>
  <div class='chat-text'>
  <% @owners.each do |owner| %>
    <%= owner.name %>
    <!-- もしチャットルームがあったらそのチャットページへ。なければ新たなチャットルームを作成 -->
    <% if @owner_ids.include?(owner.id) %>
      <%= link_to "チャットする", room_path(current_user.rooms.find_by(owner_id: owner.id)) %><br>
    <% else %>
      <%= form_for Room.new do |f| %>
        <%= f.hidden_field :owner_id, :value => owner.id %>
        <%= f.submit %>
      <% end %>
    <% end %>
  <% end %>
  </div>
<!--Shopでログインしてたら-->
<% elsif owner_signed_in? %>
<h2 class='sub-title'>チャット画面</h2>
  <h2 class='sard-title'>ログインしているユーザー一覧</h2>
  <br>
  <% @users.each do |user| %>
    <%= user.name %>
    <!-- もしチャットルームがあったらそのチャットページへ。なければ新たなチャットルームを作成 -->
    <% if @user_ids.include?(user.id) %>
      <%= link_to "チャットする", room_path(current_owner.rooms.find_by(user_id: user.id)) %><br>
    <% else %>
      <%= form_for Room.new do |f| %>
        <%= f.hidden_field :user_id, :value => user.id %>
        <%= f.submit %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
</div>
<footer>
  <h3 class="footer">Copyright ©️ 2021</h3>
</footer>