<div class="item-show">
  <div class="item-box">
    <div class="item-img-content">
      <%= image_tag @post.image ,class:"item-box-img" %>
    </div>
      <% if current_owner == @post.owner %>
          <%= link_to "物件の編集", edit_post_path(@post.id), method: :get, class: "item-red-btn" %>
          <p class="or-text">or</p>
          <%= link_to "削除", post_path(@post.id), method: :delete, class:"item-destroy" %>
      <% else %>
      <% end %>
    <table class="detail-table">
      <tbody>
        <tr>
          <th class="detail-item">建物名</th>
          <td class="detail-value"><%= @post.title %></td>
        </tr>
        <tr>
          <th class="detail-item">最寄り駅</th>
          <td class="detail-value"><%= @post.station %></td>
        </tr>
        <tr>
          <th class="detail-item">家賃</th>
          <td class="detail-value"><%= @post.price %>円</td>
        </tr>
        <tr>
          <th class="detail-item">駅からの徒歩</th>
          <td class="detail-value"><%= @post.access %></td>
        </tr>
        <tr>
          <th class="detail-item">物件の詳細</th>
          <td class="detail-value"><%= @post.describe %></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>